*{
    margin: 0px ;
    padding: 0px;
}
 .tag{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 16px !important;
    padding-bottom: 48px !important;
    max-width: 1200px;
    padding: 5px;
     font-family: 'Roboto Slab', serif;
  font-size: 22px;
 }
 .w3-button{
    float: left;
 }
 .w3-center{
    text-align: center;
 }
 .w3-right{
    text-align: right;
 }
 .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    justify-content: space-around;
    padding: 31px;   
 }
 @media (max-width:600px){
 .container{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 25px;
    justify-content: space-around;
    padding: 31px; 
 }
}
 .imgone{
    width: 100%;
    height:  72vh;
 }
 @media (max-width:300px){
    .imgone{
        width: 100%;
        height: 72vh;
    }
 }
 @media (max-width:600px){
    .imgone{
        width: 100%;
        height: 182vh;
    }
 }
 
 h3 {
    margin-top: 20px;
     text-align: center;
    font-family: 'Karma', serif;
    font-size: 24px;
}
 
.paragraph{
    margin-top: 20px;
    text-align: center;
    font-family: 'Karma', serif;
} 
   
 .w3-center .w3-bar {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px ;
    padding-top: 32px ;
    padding-bottom: 32px;
     
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background: black;
    color: white;
}
 
.line {
    background-color: #d8d8d8;
    width: 98%;
    height: 1px;
    margin: 12px;
    margin-top: 51px;
    margin-bottom: 51px;
}

@media (max-width:1000px){
    .line{
        
            background-color: #d8d8d8;
            width: 90%;
            height: 1px;
            margin-top: 51px;
            margin-bottom: 51px;
            margin-left: 37px;
        }
    
}
@media (max-width:360px){
    .line{
        
        background-color: #d8d8d8;
        width: 70%;
        height: 1px;
        margin-top: 51px;
        margin-bottom: 51px;
        margin-left: 37px;
    }


}
.imgmedia{
    display: grid;
    display: block;
    margin: auto;
    height: auto;
    margin-top: 32px;   
    width: 68vw; 
}
 
h4 {
    text-align: center;
    font-size: 1.50em;
    margin-top: 41px; 
}
h6 {
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1em;
    font-family: "Karma", sans-serif;
}
.newpara{
     text-align: center;
    font-family: 'Karma', serif;
padding: 35px;
}
.footerpara{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    margin: 15px;
}
@media (max-width:600px){
    .footerpara{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.footone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    font-size: 1.30em;
    padding-top: 20px;
     
 }
 .lastline{
    font-family: 'Karma', serif ;
    padding-top: 30px;  
    font-size: 0.60em;
 }  
 
    .lastimgs{
        display: grid;
width: 40%;
 
margin-top: 30px;
    }
    .boxs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 11px;
        gap: 10px;
        padding-top: 30px;
        
    }
    @media (max-width:340px){
     .boxs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
    }

    .box1{
       border: 5px solid black;
        background-color: black;
        color: white;
    }
 .footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 28px;
 }
 @media (max-width:785px){
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }
 }
 ul{
    margin-top: 30px;
    font-family: 'Karma', serif;
 }
 ul li{
    list-style: none;
 }
li:hover{
    background-color: gray;
}
 .w3pic{
    width: 50px;
 }
 p{
 display: block; 
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 margin-top: 10px;
 
}
.largem{
    font-size: 20px!important;
}
.by{
    margin-top: 15px;
}
span{
    display: inline-block;
}
 
.linetwo {
    background-color: #d8d8d8;
    width: 100%;
    height: 1px;
   margin-top: 10px;
   
}
.heading{
    text-align: left;
}